#comments-list {
    width: 50%;
    margin-top: 30px;
    li {
        padding: 20px 20px 10px;
        max-width: 100%;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        h4 {
           font-weight: 700;
           color: rgb(13, 13, 82);
        }
        span {
            font-size: 18px;
            color:rgba(6, 6, 21, 0.519)
        }
        p {
            margin-top: 10px;
        }
        div {
            transform: translateX(90%);
        }
        button {
            background: transparent;
            border: none;
            cursor: pointer;
            margin-right: 10px;
        }
        svg {
            &:hover {
                fill: grey;
            }
        }
    }
}